[submodule "trezor-crypto"]
	path = vendor/trezor-crypto
	url = http://192.168.1.9:4000/trezor-crypto.git
[submodule "trezor-common"]
	path = vendor/trezor-common
	url = http://192.168.1.9:4000/trezor-common.git
[submodule "trezor-qrenc"]
	path = vendor/trezor-qrenc
	url = http://192.168.1.9:4000/trezor-qrenc.git
[submodule "libopencm3"]
	path = vendor/libopencm3
	url = http://192.168.1.9:4000/libopencm3.git
[submodule "vendor/nanopb"]
	path = vendor/nanopb
	url = http://192.168.1.9:4000/nanopb.git
